.joinform {
  text-align: center;
  padding-bottom: 258px;

  &__title {
    margin-bottom: 67px;
  }

  &__label {
    position: relative;
    max-width: 850px;
    width: 100%;
    border-bottom: 1px solid $white;
    margin-bottom: 47px;

    &::after {
      width: 0;
      content: "";
      position: absolute;
      height: 1px;
      bottom: -1px;
      left: 48%;
      background-color: $yellow;
      transition: all .4s;
    }


  }

  &__wr {
    display: flex;
    flex-direction: column;
    align-items: center;


    input {
      background-color: transparent;
      outline: none;
      color: $white;

      max-width: 850px;
      width: 100%;
      border: none;

      padding: 11px 0;
      position: relative;


      &::placeholder {
        display: inline-block;
        padding-bottom: 11px;
        color: $white;
        @include font-size(21px, 27px);
      }

      &:focus + .joinform__label {

        &::after {
          width: 100%;
          left: 0;

        }
      }
      &:focus {
        &::placeholder {
          font-size: 0;
        }
      }

  }
}

&__button {
  position: relative;
  border-color: $yellow;
  color: $yellow;
  max-width: 340px;
  padding: 25px 45px;
  font-weight: 200px;
  letter-spacing: 0.2em;

  &::before{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background-color: $yellow;
    top: 0;
    left: 50%;
    transition: all 0.2s ease;
  }

  span{
    position: relative;
  }
  &:hover{
    &::before{
      left: 0;
      width: 100%;
    }
    // background-color: $yellow;
    color: $black;
  }
}

}
