section.contacts
	.container
		.title__h3.contacts__h3(data-aos="fade-up" data-aos-delay="150") have any questions?
		.title__h2.contacts__h2(data-aos="fade-up" data-aos-delay="150") fill the form and we will answer
		.contacts__form-wrapper
			form.contacts__form.form(action="" method="get")
				input.form__name.form__input(placeholder="Name" type="text")
				input.form__phone.form__input(placeholder="Phone number" type="text")
				input.form__input(placeholder="E-mail" type="text")
				button.button.button--hover.form__button contact me
