block var
	-
		var desc = 'That habitable era fell during a period of frequent asteroid bombardment, so the inner solar system may have shared with the Moon ingredients to make life possible. Asteroids could have even struck early Earth and transported primitive bacteria to the surface of the Moon.',
		desc2 = 'The short span of lunar life didn’t really have long to evolve much beyond single-cell organisms.'
		desc3 = 'However, there’s abundant evidence that the early lunar water is still trapped within rock now. So, digging a little deeper under the surface of the Moon — in, say, a lunar exploration program — could yield greater evidence for lunar life, including the possibility of fossilized microbes trapped in rock.'
section.gallery
	.container
		h3.title__h3.gallery__h3 what life on the moon?
		h2.title__h2.gallery__h2 look our galery
	.container
		.gallery__flex
			.gallery__slider
				.gallery__img1
					img(src="./images/slider.jpg" alt="")
					.gallery__navigation
						.gallery__navigation-prev
						.gallery__navigation-next
				.gallery__img2.swiper-container
					.gallery__bg-yellow
					.swiper-wrapper
						img.swiper-slide(src="./images/slidermain.jpg" alt="")
						img.swiper-slide(src="./images/slidermain.jpg" alt="")
						img.swiper-slide(src="./images/moon-stars-space.jpg" alt="")

					//.swiper-slide.gallery__slider
					//	.gallery__img1
					//		img(src="./images/slider.jpg" alt="")
					//	.gallery__img2
					//		.gallery__bg-yellow
					//		img(src="./images/slidermain.jpg" alt="")


			.gallery__text
				h4.title__h4.gallery__h4 Let’s imagine, what a life on the Moon could be
				p.description.gallery__description= desc
				p.description.gallery__description= desc2
				p.description.gallery__description= desc3

//.gallery__img1
//					img(src="./images/slider.jpg" alt="")
//				.gallery__img2
//					img(src="./images/slidermain.jpg" alt="")
