section.joinform
	.container
		h3.title__h3.joinform__h3 want to see more?
		h1.title__h2.joinform__title join our moon community
		form.joinform__form
			.joinform__wr

				input(type='email' placeholder="Enter your e-mail")
				label.joinform__label
				button.button.joinform__button become a member

