section.whybuy
	.container
		.title__h3.whybuy__h3(data-aos="fade-up" data-aos-delay="150") Why buy land on the moon?
		.title__h2.whybuy__h2(data-aos="fade-up" data-aos-delay="150") the moon is our future home
		.whybuy__flex
			.whybuy__desc

				p.description.whybuy__p MoonLand was formed for the direct marketing of real estate for Land on the Moon. As premier authorized agents of the International Association Of Human Planetary Exploration (IAOHPE), our team of professionals is driven to make your purchase of Moon property a most pleasant and rewarding experience.
				p.description.whybuy__p In the near future, Moon Land will be bringing other celestial lands in our Solar System to market. Due to possible limited availability, current Lunar Land owners will be notified first when other lands become available, in order to reserve future properties.
			.whybuy__img
				img(src="./images/block2monn.png" alt="0")
