extends template/layout
block var

block content
	include template/index-blocks/hero
	include template/index-blocks/whybuy
	include template/index-blocks/price
	include template/index-blocks/contacs
	include template/index-blocks/gallery





