<div class="menu mobile-menu">
  <div class="scrollable">
    <div class="scrollable-content">
      <ul typeof="SiteNavigationElement">

    <li class="">
      <a href="/about/" class="" property="url">
        <span property="name">Why Valor</span>
      </a>

    </li>

    <li class="">
      <a href="/services/" class="" property="url">
        <span property="name">Our Services</span>
      </a>

    </li>

    <li class="active">
      <a href="/contact/" class="" property="url">
        <span property="name">Contact</span>
      </a>


    </li>

</ul>
      <div class="social-links">
        <ul class="social-links big">

    <li>
      <a href="https://www.facebook.com/ValorRoofandSolar/" class="facebook" title="Follow us on Facebook" aria-label="Follow us on Facebook" rel="nofollow" target="_blank"></a>
    </li>

    <li>
      <a href="https://www.instagram.com/valorroofandsolar/" class="instagram" title="Follow us on Instagram" aria-label="Follow us on Instagram" rel="nofollow" target="_blank"></a>
    </li>

    <li>
      <a href="https://twitter.com/ValorRoof" class="twitter" title="Follow us on Twitter" aria-label="Follow us on Twitter" rel="nofollow" target="_blank"></a>
    </li>

    <li>
      <a href="https://www.linkedin.com/company/28172468/" class="linkedin" title="Follow us on LinkedIn" aria-label="Follow us on LinkedIn" rel="nofollow" target="_blank"></a>
    </li>

    <li>
      <a href="https://www.youtube.com/channel/UC-5XkJRX7izlEeIP_GE8v6w" class="youtube" title="Follow us on YouTube" aria-label="Follow us on YouTube" rel="nofollow" target="_blank"></a>
    </li>

</ul>
      </div>
    </div>
  </div>
</div>
