-
	var
	phope  = [
		{
	title: "contact earth",
	phope: "+1 234 567-89-00"
	},
	],
	menu = [
	{
	url: "#",
	title: "_buy land"
	},
	{
	url: "#",
	title: "_why moon"
	},
	{
	url: "#",
	title: "_our offer"
	},
	{
	url: "#",
	title: "_galary"
	},

	]









