//@import "fonts"; - используем внешние шрифты
@import "settings";
@import "layout";
@import "fonts/stem/stylesheet.css";
@import "components/menu_footer_header";
@import "components/burger";
@import "components/hero_whybuy";
@import "components/button";
@import "components/price";
@import "components/gallery";
@import "components/contact";
@import "components/statistics";
@import "components/joinform";


.title__h1 {
  @include fontsize_h1();

}


.title__h1 {
  @include fontsize_h1();

}

.title__h2 {
  color: $white;
  text-transform: uppercase;
  @include fontsize_h2();

}

.title__h3 {
  color: $yellow;
  text-transform: uppercase;
  @include fontsize_h3();

}

.title__h4 {
  @include fontsize_h3();
  color: $white;
  font-weight: bold;
}

.description {
  color: $white;
  @include fontsize_default;
}
